<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-dark float-right" style="margin-bottom: 100px" (click)="open2(content2)" *ngIf="role=='admin'">Papier à legaliser </button>
                <button class="btn btn-dark float-right" style="margin-bottom: 100px" (click)="open2(content3)" *ngIf="role=='client'">Papier à legaliser </button>
                 
                <button class="btn btn-primary float-right" style="margin-bottom: 100px" (click)="open(content)"
                    *ngIf="role=='client'">Demander un Credit </button>
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0" *ngIf="role=='client'">Mes demandes Credits </h4>
                        <h4 class="card-title mt-0" *ngIf="role=='admin'"> Demandes Credits </h4>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive" *ngIf="role=='client'">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Num°
                                    </th>
                                    <th>
                                        Montant
                                    </th>
                                    <th>
                                        Complétude
                                    </th>
                                    <th>
                                        Etats
                                    </th>

                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let evn of evnt">
                                        <td>
                                            {{evn.iddemande}}
                                        </td>
                                        <td>
                                            {{evn.montant}}
                                        </td>
                                        <td *ngIf="evn.completude==0">
                                            En cours
                                        </td>
                                        <td *ngIf="evn.completude==1">
                                            Confirmer
                                        </td>
                                        <td *ngIf="evn.confirmation==1">
                                            Confirmer
                                        </td>
                                        <td *ngIf="evn.confirmation==0">
                                            En cours
                                        </td>
                                        <td *ngIf="evn.confirmation==2">
                                            Refuser
                                        </td>
                                        <td>
                                            <button class="btn btn-danger"
                                                (click)="Reservation(evn.iddemande)">Annuler</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive" *ngIf="role=='admin'">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Num°
                                    </th>
                                    <th>
                                        Montant
                                    </th>
                                    <th>
                                        Complétude
                                    </th>

                                    <th>
                                        Client
                                    </th>
                                    <th>
                                        Etats
                                    </th>

                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let evn of evnt">
                                        <td>
                                            {{evn.iddemande}}
                                        </td>
                                        <td>
                                            {{evn.montant}}
                                        </td>
                                        <td *ngIf="evn.completude==0">
                                            En cours
                                        </td>

                                        <td *ngIf="evn.completude==1">
                                            Confirmer
                                        </td>


                                        <td>
                                            {{evn.prenom}} {{evn.nom}}
                                        </td>
                                        <td *ngIf="evn.confirmation==1">
                                            Confirmer
                                        </td>
                                        <td *ngIf="evn.confirmation==2">
                                            Refuser
                                        </td>
                                        <td *ngIf="evn.confirmation==0">
                                            En cours
                                        </td>
                                        <td>
                                            <button class="btn btn-danger"
                                                (click)="UpdateCredit(evn.iddemande,2)">Réfuser</button>
                                            <button class="btn btn-success"
                                                (click)="UpdateCredit(evn.iddemande,1)">Confirmer</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter Credit</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-auto">
                <label for="title"> Montant </label>
                <br>
                <input type="text" id="title" [(ngModel)]="title">
            </div>

        </div>





    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="AddEvent()">Enregister</button>
    </div>
</ng-template>
<ng-template #content2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter Un Utilisateur</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Designation" [(ngModel)]="designation" name="designation">
            </mat-form-field>

        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Raison" [(ngModel)]="raison" name="nom">
            </mat-form-field>

        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Client</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="creditID">
                <option *ngFor="let client of clients" [value]="client.iddemande">Demande Num:{{client.iddemande}} :
                    {{client.nom}} {{client.prenom}}</option>

            </select>
        </div>




    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="AddPaper()">Enregister</button>
    </div>
</ng-template>
<ng-template #content3 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Mes Papiers</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <div class="table-responsive" >
            <table class="table table-hover">
                <thead class="">
                    <th>
                        Num° Credit 
                    </th>
                    <th>
                        Designation
                    </th>
                    <th>
                        Raison
                    </th>

                    <th>
                        Fichier
                    </th>
                 
                   
                </thead>
                <tbody>
                    <tr *ngFor="let paper of papers">
                        <td>
                            {{paper.id_credit}}
                        </td>
                        <td>
                            {{paper.designation}}
                        </td>
                        <td >
                           {{paper.raison}}
                        </td>

                        <td >
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                              </div>
                            
                        </td>
                      

                     
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" (click)="AddEvent()">Charger</button>
        </div>


    </div>
    
</ng-template>