<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <!----<div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td class="text-primary">
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td class="text-primary">
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td class="text-primary">
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td class="text-primary">
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td class="text-primary">
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td class="text-primary">
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>-->
          </div>
          <div class="col-md-12">
                <button class="btn btn-success float-right" style="margin-bottom: 100px" (click)="open(content)">Ajouter un Utilisateur</button>
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Liste des Utilisateurs Disponible</h4>
                     
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                     Nom
                                  </th>
                                  <th>
                                      Prenom
                                  </th>
                                  <th>
                                      Email
                                  </th>
                                  <th>
                                     Role
                                  </th>
                                  <th>
                                        Action
                                </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor =" let us of users">
                                      <td>
                                            {{us.id_user}}
                                      </td>
                                      <td>
                                            {{us.nom}}
                                      </td>
                                      <td>
                                            {{us.prenom}}
                                      </td>
                                      <td>
                                            {{us.email}}
                                      </td>
                                      <td>
                                         {{us.type}}
                                      </td>
                                      <td>
                                            <button class="btn btn-danger" (click)="deleteUser(evn.id_user)">Supprimer</button>
                                        </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Ajouter Un Utilisateur</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                
             
                    <div class="form-group">
                            <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nom" [(ngModel)]="nom" name="nom">
                                  </mat-form-field>
                        <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div> -->
                    </div>
                    <div class="form-group">
                            <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Prenom" [(ngModel)]="prenom" name="prenom">
                                  </mat-form-field>
                        <!-- <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div> -->
                    </div>
                    
                    <div class="form-group">
                            <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" [(ngModel)]="email" name="email">
                                  </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Date de naissance" [(ngModel)]="date" name="date_naiss">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                    </div>
                    <div class="form-group">
                            <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Mot de passe" [(ngModel)]="mdp" name="mdp" type="password">
                                  </mat-form-field>
                        <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div> -->
                    </div>
               
               
                   
                  
               
                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="AddEvent()">Enregister</button>
        </div>
      </ng-template>