<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Modifier Profil</h4>
                            
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                        <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Nom" [(ngModel)]="nom" name="nom">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-12">
                                                    <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="Prenom" [(ngModel)]="prenom" name="prenom">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-12">
                                                        <mat-form-field class="example-full-width">
                                                          <input matInput placeholder="Email" [(ngModel)]="email" name="email">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-12">
                                                            <mat-form-field>
                                                                    <input matInput [matDatepicker]="picker" placeholder="Date de naissance" [(ngModel)]="date" name="date_naiss">
                                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                    <mat-datepicker #picker></mat-datepicker>
                                                                  </mat-form-field>
                                                        </div>
                                                        <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                  <input matInput placeholder="Mot de passe " type="password" [(ngModel)]="mdp" name="mdp">
                                                                </mat-form-field>
                                                            </div>
                                                           
                               
                                </div>
                                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Mettre à Jour</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
      </div>